.size th,
td {
  border: 1px solid black;
  border-color: black;
  background-color: #ddd4e0;
  border-radius: 10px;

  text-align: center;
}
.title {
  text-align: center;
  color: rgb(12, 12, 12);
  padding-top: 50px;
}
.size {
    margin-left: 500px;
}

body {
  background-color: cornsilk;
}

.aboutdress {
 
  text-align: center;
 
}
.dresstitle {
  text-align: center;
  font-size: larger;
 
}
.dress {
  

  background-color: rgb(219, 194, 219);
  display: inline-block;
}
.div1 {
  text-align: center;
}

.table{
    text-align: center;

}